spring:
  application:
    name: trackerforce-identity-service
  mongodb:
    database: trackerforce
    uri: ${MONGODB_URL}

management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      group:
        custom:
          show-components: always
          show-details: always

service:
  jwt:
    secret: ${JWT_SECRET}
    expire: ${JWT_EXPIRETIME:15}
  endpoint:
    allowed-addresses: ${WHITELIST}
    allowed-endpoints: >
     /v3/api-docs,
     /*/authenticate,
     /*/register,
     /*/activate,
     /service/check
  management:
    url: http://127.0.0.1:8090

server:
  port: 8070
  error:
    include-message: always