spring:
  application:
    name: trackerforce-management-service
  mongodb:
    database: tfm
    uri: ${MONGODB_URL}
      
management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      group:
        custom:
          show-components: always
          show-details: always

service:
  jwt:
    secret: ${JWT_SECRET}
    expire: ${JWT_EXPIRETIME:60}
  endpoint:
    allowed-addresses: ${WHITELIST}
    allowed-endpoints: >
      /v3/api-docs.*,
      /service/check,
      /management/agent/v1/activate,
      /management/agent/v1/login,
      /management/agent/v1/check
  identity:
    url: http://127.0.0.1:8070

server:
  error:
    include-message: always
  port: 8090